<% if @reservations.present? %>
    <h1>My Reservations</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Summary</th>
            <th>Start at:</th>
            <th>End at:</th>
            <th>Description</th>
            <th>Room</th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |reservation| %>
            <tr>
              <td><%= reservation.summary %></td>
              <td><%= reservation.start_at %></td>
              <td><%= reservation.end_at %></td>
              <td><%= reservation.description %></td>
              <td><%= reservation.room.name %></td>
              <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <p>Create a <%= link_to 'New Reservation', new_reservation_path %></p>
<% else %>
  <div class="jumbotron">
    <h2>No reservations set yet! :(</h2>
    <p><%= link_to 'Create New Reservation', new_reservation_path %></p>
  </div>
<% end %>
